@model ShoppingHelper.Produs
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="text-info">
    <h3>Are you sure you want to delete this?</h3>
</div>
<br />
@Html.ActionLink("Back to List", "Index")
<table class="pagination-centered table">

    <tr>
        <th>Magazin
        </th>
        <th>Tip Produs
        </th>
        <th>Pret
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Magazin.Nume)
        </td>
        <td>
            @Html.DisplayFor(model => model.TipProdus.Denumire)
        </td>
        <td>
            @Html.DisplayFor(model => model.Pret)
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    <p>
        <input class="btn btn-primary" type="submit" value="Delete" />
        <br />
    </p>
}