@model IEnumerable<ShoppingHelper.TipProdus>

@{
    ViewBag.Title = "Comanda";
}
<h2>Comanda</h2>


<table>
    <tr>
        <th>
        </th>
        <th>
            Denumire
        </th>
        <th>
            UnitateMasura
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) { 
        <tr>
            <td>
                <input type="checkbox" name="selectedObjects" onclick= "selectedObjectsClick(this,'@Html.DisplayFor(model => item.Id)')" 
                 value="<%: item.Id%>" />
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitateMasura)
            </td>
        </tr>
    }
</table>
    <p>
        <input type="button" value="Trimite" onclick = "submitClick()" />
    </p>
    
    <script>

        var ids = new Array();

        function selectedObjectsClick(obj,itemId) {
            if (obj.checked) {
                ids.push(itemId);
            }
            else {
                ids.pop(itemId);
            }
        }

        function submitClick() {
            var postData = $.toJSON(ids);
            var url = '@Url.Action("Comanda", "TipProdus")';
            alert(ids);
            $.ajax(
            {
                type: "POST",
                url: url,
                dataType: "json",
                data: { orderedIds: postData },
                success: function (result) {
                    alert("succes");
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }
    </script>


