@model ShoppingHelper.TipProdus
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<table class="pagination-centered table">

    <tr>

        <th>Tip Produs
        </th>
        <th>Denumire
        </th>
        <th>UnitateMasura</th>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.DisplayFor(model => model.Denumire)
        </td>
        <td>
            @Html.DisplayFor(model => model.UnitateMasura)
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}