@model ShoppingHelper.TipProdus
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="pagination-centered table">

    <tr>
        <th>Tip Produs
        </th>
        <th>Unitate Masura
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Denumire)
        </td>
        <td>
            @Html.DisplayFor(model => model.UnitateMasura)
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
