@model ShoppingHelper.TipProdus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TipProdus</legend>

    <div class="display-label">Denumire</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Denumire)
    </div>

    <div class="display-label">UnitateMasura</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitateMasura)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
